
[Desktop Entry]
Name=OpenMandriva Online
Icon=omvonline
Exec=/usr/sbin/omvonline
Terminal=false
MultipleArgs=false
Type=Application
StartupNotify=false
