[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=mdkupdate --bundle %F
Icon=/usr/share/icons/mdkonline.png
Terminal=false
MimeType=application/x-mdv-exec;
InitialPreference=0
Name=mdkonline
Categories=Qt;KDE;System;
