[Desktop Entry]
Name=Omvonline
Icon=/usr/share/icons/omvonline.png
Type=MimeType
MimeType=application/x-mdv-exec;
Comment=omvonline application updater
Hidden=false
X-KDE-AutoEmbed=false
